<div class="reminder">
	<input placeholder="Start Time" class="reminder-start-time datetimepicker" type="text" />
	<input placeholder="End Time" class="reminder-end-time datetimepicker" type="text" />
	<br />
	<!-- End Time - (task due time, time picker) -->
	<label>Frequency
		<select class="reminder-frequency" >
			<option value="0">Once</option>
			<option value="60">Every Hour</option>
			<option value="30">Every 30 Min</option>
			<option value="15">Every 15 Min</option>
			<option value="5">Every 5 Min</option>
		</select></label>
	<br />
	<label>
		<input class="via-email" type="checkbox" value="email" />
		Email</label>
	<label>
		<input class="via-sms" type="checkbox" value="sms" />
		Sms</label>
	<label>
		<input class="via-call" type="checkbox" value="phone" />
		Phone</label>
	<br />
</div>