<div class="reminder">
	<input placeholder="Start Time" class="reminder-start-time" type="text" />
	<input placeholder="End Time" class="reminder-end-time" type="text" />
	<br />
	<!-- End Time - (task due time, time picker) -->
	<label>Frequency
		<select id="event-submit-frequency" >
			<option value="hour">Every Hour</option>
			<option value="thirty">Every 30 Min</option>
			<option value="fifteen">Every 15 Min</option>
			<option value="five">Every 5 Min</option>
		</select></label>
	<br />
	<label>
		<input class="via-email" type="checkbox" value="email" />
		Email</label>
	<label>
		<input class="via-sms" type="checkbox" value="sms" />
		Sms</label>
	<label>
		<input class="via-call" type="checkbox" value="phone" />
		Phone</label>
	<br />
</div>