<div>
	<span>Reminder Start: <%= start%></span>
	<br />
	<span>Reminder End: <%= end%></span>
	<br />
	<span>Reminder Frequency: <%= frequency%></span>
	<br />
	<span>Reminder Via: <%= via%></span>
	<br />
</div>