<div>
	<span class="detail-label">Start: </span>
	<span><%= moment(new Date(start)).format('MM/DD/YYYY HH:mm') %></span>
	<br />
	<span class="detail-label">End: </span>
	<span><%= moment(new Date(end)).format('MM/DD/YYYY HH:mm') %></span>
	<br />
	<span class="detail-label">Frequency: </span>
	<span><%= frequency %></span>
	<br />
	<span class="detail-label">Via: </span>
	<span><%= via %></span>
	<br />
</div>