<li class="task-item">
	<input type="checkbox"/>
	<span><%= title %></span>
	<% if (typeof dueDate != 'undefined') { %><span><%= dueDate %></span> <% } %>
	<input class="task-item-id" type="hidden" value="<%= id %>" />
	<img src="/img/icon/icon_23427.png" class="task-item-delete" />
	<span class="round-color-rep"></span>
</li>