<% include template/head.ejs %>
<% include template/nav.ejs %>
<div id="calendar"></div>
<% include ui/detailEdit.ejs %>
<% include template/script.ejs %>
<!-- <script src="/js/core/category.js"></script> -->
<script src="/js/core/calendar.js"></script>
<% include template/foot.ejs %>