<% include template/head.ejs %>
<% include template/nav.ejs %>
<div id="calendar"></div>
<% include ui/addPanel.ejs %>
<% include ui/eventDetail.ejs %>
<% include template/script.ejs %>
<script src="/js/core/calendar.js"></script>
<% include template/foot.ejs %>