<% include template/head.ejs %>

<header>
	<button>
		Previous
	</button>
	<span>Page Title</span>
	<button>
		Next
	</button>
	<div class="edit">
		<button>
			View Changer
		</button>
		<button id="test-add">
			Add
		</button>
	</div>
</header>
<% include template/nav.ejs %>
<% include ui/addPanel.ejs %>
<table class="day-weekPreview">
	<tr>
		<td>1</td>
		<td>2</td>
		<td>3</td>
		<td>4</td>
		<td>5</td>
		<td>6</td>
		<td>7</td>
	</tr>
</table>

<div class="day-events col-md-6">
	<div class="day-events-allDay">
		<ul>
			<li>
				Title
				<span>Category Color</span>
			</li>
			<li>
				Title
				<span>Category Color</span>
			</li>
			<li>
				Title
				<span>Category Color</span>
			</li>
			<li>
				Title
				<span>Category Color</span>
			</li>
			<li>
				Title
				<span>Category Color</span>
			</li>

			<li>
				Title
				<span>Category Color</span>
			</li>
		</ul>
	</div>
	<div class="day-events-eventStack"></div>
</div>
<div class="tasks col-md-6">
	<ul class="day-tasks">
	</ul>
	<ul class="day-completedTasks">
	</ul>
</div>

<% include template/script.ejs %>
<script src="/js/core/day.js"></script>
<% include template/foot.ejs %>