<% include template/head.ejs %>

<header>
	<h1>Methodize.Me</h1>
	<form id="landing_login_form">
		<input id="landing_login_email_input" type="text" placeholder="email address"/>
		<input id="landing_login_password_input" type="password" placeholder="password" />
		<button id="landing_login_submit_button">
			Sign In
		</button>
	</form>
</header>
<form id="landing_signUp_form">
	<label for="landing_signUp_email">Email Address</label>
	<input id="landing_signUp_email" type="text" placeholder="email address" />
	<label for="landing_signUp_phone">Phone Number</label>
	<input id="landing_signUp_phone" type="tel" placeholder="phone number" />
	<label for="landing_signUp_password">Password</label>
	<input id="landing_signUp_password" type="password" placeholder="password" />
	<label for="landing_signUp_confirmPassword">Confirm Password</label>
	<input id="landing_signUp_confirmPassword" type="password" placeholder="confirm pass" />
	<button id="landing_signUp_submit_button">
		Sign Up
	</button>
</form>

<div id="landing-error"></div>

<% include template/script.ejs %>
<script src="/js/core/landing.js"></script>
<% include template/foot.ejs %>