<% include template/head.ejs %>

<header>
	<form id="landing_login_form">
		<input id="landing_login_email_input" type="text" placeholder="email address"/>
		<input id="landing_login_password_input" type="password" placeholder="password" />
	</form>
	<button id="landing_login_submit_button">Sign Up</button>
</header>

<form id="landing_signUp_form">
	<input id="landing_signUp_email" type="text" placeholder="email address" />
	<input id="landing_signUp_phone" type="tel" placeholder="phone number" />
	<input id="landing_signUp_password" type="password" placeholder="password" />
	<input id="landing_signUp_confirmPassword" type="password" placeholder="confirm pass" />
</form>
<button id="landing_signUp_submit_button">Sign Up</button>

<div id="landing-error"></div>

<% include template/script.ejs %>
<script src="/js/core/landing.js"></script>
<% include template/foot.ejs %>