<% include template/head.ejs %>

<header>
	<form>
		<input type="text" placeholder="email address"/>
		<input type="password" placeholder="password" />
	</form>
</header>

<form>
	<input type="text" placeholder="email address" />
	<input type="tel" placeholder="phone number" />
	<input type="password" placeholder="password" />
	<input type="password" placeholder="confirm pass" />
	<input type="submit" value="sign up" />
</form>

<% include template/foot.ejs %>