<% include template/head.ejs %>

<header>
	<form id="login-form">
		<input id="login-email" type="text" placeholder="email address"/>
		<input id="login-pass" type="password" placeholder="password" />
	</form>
	<button id="login-submit">Sign Up</button>
</header>

<form id="sign-up-form">
	<input id="sign-up-email" type="text" placeholder="email address" />
	<input id="sign-up-phone" type="tel" placeholder="phone number" />
	<input id="sign-up-pass" type="password" placeholder="password" />
	<input id="sign-up-confirmPass" type="password" placeholder="confirm pass" />
</form>
<button id="sign-up-submit">Sign Up</button>

<div id="landing-error"></div>

<% include template/script.ejs %>
<script src="/js/landing.js"></script>
<% include template/foot.ejs %>