<% include template/head.ejs %>

<header></header>
<% include template/nav.ejs %>

<div class="content">

	<div id="nav-placeholder"></div>

	<div class="categories col-md-4">
		<input id="category-add-input" type="text" placeholder="Add a new category..." />

		<ul>
			<li>
				<span>Category Title</span>
				<span class="pill-color-rep">9</span>
			</li>
		</ul>
	</div>
	<div class="tasks col-md-8">
		<input id="task-add-input" type="text" placeholder="Add a new task..." />

		<ul>
			<li>
				<input type="checkbox"/>
				<span>Task Title</span>
				<span>Due Date</span>
				<span class="round-color-rep"></span>
			</li>
		</ul>
		<ul class="completed-tasks">
			Completed Tasks
			<li>
				<input type="checkbox" checked="true"/>
				<span>Task Title</span>
				<span class="round-color-rep"></span>
			</li>
		</ul>
	</div>
</div>

<% include template/script.ejs %>
<script src="/js/task.js"></script>
<% include template/foot.ejs %>
