<% include template/head.ejs %>

<header>
</header>
<% include template/nav.ejs %>
<body class="container">
	<div class="categories col-md-3">
		<input type="text" placeholder="Add a new category..." />

		<ul>
			<li>
				<span>Category Title</span>
				<span class="pill-color-rep">9</span>
			</li>
			<li>
				<span>Category Title</span>
				<span class="pill-color-rep">8</span>
			</li>
			<li>
				<span>Category Title</span>
				<span class="pill-color-rep">7</span>
			</li>
			<li>
				<span>Category Title</span>
				<span class="pill-color-rep">6</span>
			</li>
			<li>
				<span>Category Title</span>
				<span class="pill-color-rep">5</span>
			</li>
		</ul>
	</div>
	<div class="tasks col-md-6">
		<input type="text" placeholder="Add a new task..." />

		<ul>
			<li>
				<input type="checkbox"/>
				<span>Task Title</span>
				<span>Due Date</span>
				<span class="round-color-rep"></span>
			</li>
			<li>
				<input type="checkbox"/>
				<span>Task Title</span>
				<span>Due Date</span>
				<span class="round-color-rep"></span>
			</li>
			<li>
				<input type="checkbox"/>
				<span>Task Title</span>
				<span>Due Date</span>
				<span class="round-color-rep"></span>
			</li>
			<li>
				<input type="checkbox"/>
				<span>Task Title</span>
				<span>Due Date</span>
				<span class="round-color-rep"></span>
			</li>
			<li>
				<input type="checkbox"/>
				<span>Task Title</span>
				<span>Due Date</span>
				<span class="round-color-rep"></span>
			</li>
			<li>
				<input type="checkbox"/>
				<span>Task Title</span>
				<span>Due Date</span>
				<span class="round-color-rep"></span>
			</li>

		</ul>
		<ul class="completed-tasks">
			Completed Tasks
			<li>
				<input type="checkbox" checked="true"/>
				<span>Task Title</span>
				<span class="round-color-rep"></span>
			</li>
			<li>
				<input type="checkbox" checked="true"/>
				<span>Task Title</span>
				<span class="round-color-rep"></span>
			</li>
			<li>
				<input type="checkbox" checked="true"/>
				<span>Task Title</span>
				<span class="round-color-rep"></span>
			</li>
			<li>
				<input type="checkbox" checked="true"/>
				<span>Task Title</span>
				<span class="round-color-rep"></span>
			</li>
			<li>
				<input type="checkbox" checked="true"/>
				<span>Task Title</span>
				<span class="round-color-rep"></span>
			</li>
		</ul>
	</div>
	<div class="details col-md-3">
		<div id="tab-container">
			<ul>
				<li>
					<a href="#task-add-update">Task</a>
				</li>
				<li>
					<a href="#event-add-update">Event</a>
				</li>
				<div style="clear: both;"></div>
			</ul>
			<div id="task-add-update">
				<h1>Title</h1>
				<span>Due Date</span>
				<span>Reminde Me</span>
				<span>Category</span>
				<span>Priority</span>
				<span>Sub Tasks</span>
				<input type="text" placeholder="Add a subtask..." />
				<ul class="subtasks">
					<li>
						<input type="checkbox"/>
						<label>Task Title</label>
					</li>
					<li>
						<input type="checkbox"/>
						<label>Task Title</label>
					</li>
				</ul>
				<ul class="completed-subtasks">
					Completed - 1
					<li>
						<input type="checkbox" checked="true"/>
						<label>Task Title</label>
					</li>
				</ul>
				<span>Notes</span>
				<textarea></textarea>
				<button id="task-submit"></button>
			</div>
			<div id="event-add-update">
				<h1>Title</h1>
				<span>Start Date</span>
				<span>End Date</span>
				<label>
					<input type="checkbox" />
					All Day</label>
				<span>Reminde Me</span>
				<span>Category</span>
				<span>Priority</span>
				<span>Sub Tasks</span>
				<input type="text" placeholder="Add a subtask..." />
				<ul class="subtasks">
					<li>
						<input type="checkbox"/>
						<label>Task Title</label>
					</li>
					<li>
						<input type="checkbox"/>
						<label>Task Title</label>
					</li>
				</ul>
				<ul class="completed-subtasks">
					Completed - 1
					<li>
						<input type="checkbox" checked="true"/>
						<label>Task Title</label>
					</li>
				</ul>
				<span>Notes</span>
				<textarea></textarea>
				<button id="event-submit"></button>
			</div>
		</div>
	</div>

<% include template/foot.ejs %>