<% include template/head.ejs %>

<header></header>
<% include template/nav.ejs %>

<div class="content">

	<div id="nav-placeholder"></div>

	<div class="categories col-md-3">
		<input id="category-add-input" type="text" placeholder="Add a new category..." />
		<input type="hidden" id="user-default-category" value="<%= userInboxId %>"/>
		<ul class="category-list">
		</ul>
	</div>
	<div class="tasks col-md-6">
		<input type="text" id="parent-category" />
		<input id="task-add-input" type="text" placeholder="Add a new task..." />

		<ul class="task-list">
			
		</ul>
		<ul class="completed-tasks">
			Completed Tasks
			<li>
				<input type="checkbox" checked="true"/>
				<span>Task Title</span>
				<span class="round-color-rep"></span>
			</li>
		</ul>
	</div>
	
	<div class="task-details-container col-md-3">
		
	</div>
</div>
<% include ui/task-detail.ejs %>
<% include template/script.ejs %>
<script src="/js/core/category.js"></script>
<script src="/js/core/task.js"></script>
<% include template/foot.ejs %>
