<% include template/head.ejs %>

<header>
 	<!-- <span class="task-pageHeading-category"></span><span class="task-pageHeading-task"></span> -->
	<span class="task-pageHeading"></span>
</header>
<% include template/nav.ejs %>

<div class="content">

	<div id="nav_placeholder"></div>

	<div class="task-categories col-md-4">
		<input id="task_categoryAdd_input" type="text" placeholder="Add a new category..." />
		<input type="hidden" id="user-default-category" value="<%= userInboxId %>"/>
		<ul class="task-category-list"></ul>
	</div>
	<div class="task-tasks col-md-8">
		<!-- Open Tasks -->
		<input type="text" id="parent-category" />
		<input id="task_taskAdd_input" type="text" placeholder="Add a new task..." />
		<ul class="task-task-list"></ul>

		<!-- Completed Tasks -->
		<ul class="task-completedTask-list">
			<!-- This will be a list of multiple 'task-item' elements with a checked value of true -->
		</ul>
	</div>

	<div class="task-taskDetails col-md-3"></div>
</div>
<% include ui/detailEdit.ejs %>
<% include template/script.ejs %>
<script src="/js/core/task.js"></script>
<% include template/foot.ejs %>
