<header>
	<button>
		Previous
	</button>
	<span>Page Title</span>
	<button>
		Next
	</button>
	<button>
		View Changer
	</button>
	<button>
		Add
	</button>
</header>
<body>
	<table class="week">
		<tr>
			<td>1</td>
			<td>2</td>
			<td>3</td>
			<td>4</td>
			<td>5</td>
			<td>6</td>
			<td>7</td>
		</tr>
	</table>

	<div class="events">
		<div class="all-day">
			<ul>
				<li>
					Title
					<span>Category Color</span>
				</li>
			</ul>
		</div>
		<div class="event-stack">
		</div>
	</div>
	<div class="tasks">
		<ul class="tasks">
			<li>
				Task Title
			</li>
		</ul>
		<ul class="completed-tasks">
			<li>
				Task Title
			</li>
		</ul>
	</div>
</body>
