/* http://meyerweb.com/eric/tools/css/reset/
 v2.0 | 20110126
 License: none (public domain)
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* ------------------------ END RESET ----------------------- */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */

.container {
	width: 100%;
	padding: 0;
	float: right;
	padding-left: 40px
}

html {
	background-image: url('/img/retina_wood_@2X.png');
}

body {
	background: none;
	font: 12px Arial, Helvetica, sans-serif;
	color: #333;
	line-height: 1.5em;
	position: absolute;
	overflow: scroll;
}

h1 {
	font-size: 16px;
}

header, .fc-header {
	background: #222;
	height: 40px;
	color: #E6E6E6;
	line-height: 30px;
	text-align: center;
	padding: 0 10px;
}

#landing-header{
	width: 100%;
	margin: 0;
	position: absolute;
	left: 0;
}

footer {
	position: absolute;
	bottom: 0;
}

input[type=text], input[type=tel], input[type=password], input[type=email] {
	height: 30px;
	background: rgba(255, 255, 255, 0.05);
	border: 1px solid rgba(255, 255, 255, 0.1);
	padding: 5px;
	border-radius: 2px;
}

input[type=checkbox]{
	width: auto !important;
}

input[type=text] {
	width: 100%;
}

#nav_container {
	width: 220px;
	height: 100%;
	left: -180px;
	top: 0;
	float: right;
	position: fixed;
	color: #E6E6E6;
	background: #222222;
	z-index: 12;
}

#detailEdit_container {
	z-index: 11;
}

#detailEdit_container *, .addPanel-container * {
	width: 100%;
}

.addPanel-container {
	z-index: 10;
}

#calendar {
	z-index: 1;
}

#detailEdit_container, .addPanel-container {
	padding: 5px 10px;
	display: none;
	width: 360px;
	height: 100%;
	top: 0;
	position: fixed;
	right: -360px;
	color: #ebebeb;
	background: #222;
	overflow: scroll;
}

.detail-label{
	color: #999;
	display: inline-block;
	width: 80px !important;
}

nav h1 {
	margin-top: 10px;
	margin-left: 10px;
	font-size: 12px;
}

nav a, footer a {
	height: 30px;
	line-height: 20px;
	margin: 0 10px 5px 10px;
	width: 200px;
	float: left;
	display: block;
}

nav li a, #my-nav li span, footer li a {
	color: #E6E6E6;
	display: block;
}

nav li img, footer li img {
	float: right;
	display: inline-block;
	width: 20px;
	height: 20px;
}

.round-color-rep {
	float: right;
	height: 15px;
	width: 15px;
	border-radius: 10px;
	background: rgba(231, 85, 111, 0.7);
	margin-top: 8px;
}

.pill-color-rep {
	border-radius: 10px;
	line-height: 20px;
	font-size: 12px;
	text-align: center;
	float: right;
	height: 20px;
	width: 30px;
	margin-top: 5px;
}

.task-tasks ul li, .task-categories ul li, .subtasks li, .completed-subtasks li, .day-events-allDay ul li {
	border-radius: 2px;
	margin: 5px 0;
	padding: 0 10px;
}

.task-tasks ul li, .task-categories ul li, .subtasks li, .completed-subtasks li {
	margin: 5px 0;
	background: #f7f8f9;
}

.subtasks li, .completed-subtasks li{
	background: rgba(255,255,255,0.2);
}

.task-tasks ul li, .task-categories ul li, .day-events-allDay ul li {
	height: 30px;
	line-height: 30px;
}

.subtasks li, .completed-subtasks li {
	height: 30px;
	line-height: 30px;
}

.subtasks li * {
	width: auto;
}

.day-completedTasks li, .completed-subtasks li {
	opacity: 0.6;
}

#tab-container {
	padding: 10px;
	line-height: 2em;
}

#tab-container ul li a {
	display: block;
	padding: 0;
	margin: 0;
	width: 50%;
	height: 40px;
	text-align: center;
	line-height: 40px;
	float: left;
}

#tab-container ul:first-child {
	position: relative;
	top: -10px;
}

#tab-container .active a {
	background: #333;
}

#tab-container ul:first-child {
	margin: 0 0 10px 0;
}

#addPanel_addTask span {
	display: block;
}

#addPanel_addTask_note_textarea, #addPanel_addEvent_note_textarea, #eventDetail_note_textarea, #eventEdit_note_textarea, #taskDetail_note_textarea, #taskEdit_note_textarea{
	background: rgba(255,255,255,0.2);
	min-width: 100%;
	max-width: 100%;
	padding: 10px;
	border: none;
	min-height: 160px;
}

ul {
	margin: 20px 0 50px;
}

.subtasks {
	margin-bottom: 30px;
}

.edit {
	float: right;
}

.day-events {
	background: rgba(249, 248, 247, 0.3);
	min-height: 100%;
}

.day-events-allDay ul li {
	background: rgba(231, 85, 111, 0.7);
	border: 1px solid rgb(231, 85, 111);
}

#landing_login_form input[type=text], #landing_signUp_form input[type=text] {
	width: 100px;
}

.category-id, .core-hidden {
	display: none;
}

.category-delete, .task-item-delete {
	height: 10px;
	float: right;
	margin: 5px;
}

#parent-category {
	display: none;
}

/*
 ==================================================================
 ┌─┐┬ ┬┬  ┬    ┌─┐┌─┐┬  ┌─┐┌┐┌┌┬┐┌─┐┬─┐  ┌─┐┬  ┬┌─┐┬─┐┬─┐┬┌┬┐┌─┐┌─┐
 ├┤ │ ││  │    │  ├─┤│  ├┤ │││ ││├─┤├┬┘  │ │└┐┌┘├┤ ├┬┘├┬┘│ ││├┤ └─┐
 └  └─┘┴─┘┴─┘  └─┘┴ ┴┴─┘└─┘┘└┘─┴┘┴ ┴┴└─  └─┘ └┘ └─┘┴└─┴└─┴─┴┘└─┘└─┘
 ==================================================================
 */
.fc-state-highlight {
	background: rgba(255,255,255,0.5);
}

.fc-event {
	height: 30px;
}

thead {
	background: #222;
}

.fc-header-center, .fc-header-left, .fc-header-right{
	margin: 0;
	padding-top: 5px !important;
}

.fc-day-header {
	border-color: #333;
	color: #fff;
}

.fc-view-agendaDay {
	width: 100%;
}

#landing_login_form, #landing_signUp_form {
	float: right;
}

header h1 {
	float: left;
}

#landing_signUp_form {
	background: rgba(255,255,255,0.5);
	height: 400px;
	margin: 50px 10px 10px;
	padding: 10px;
	width: 400px;
}

/*#eventEdit_reminders_container:nth-child(odd), #taskEdit_reminders_container:nth-child(odd){
	background: rgba(255,255,255,0.05);
}*/

#eventDetail_reminders_container div, #taskDetail_reminders_container div, #eventEdit_reminders_container div, #taskEdit_reminders_container div{
	border: 1px solid rgba(255,255,255,0.1);
	padding: 10px;
	margin-bottom: 10px;
}

#landing_signUp_form input[type=text], #landing_signUp_form input[type=tel], #landing_signUp_form input[type=password], #landing_signUp_form input[type=email] {
	background: white;
	margin-bottom: 10px;
	display: block;
	width: 100%;
}

.category-title-edit{
	max-width: 80%;
	border: 1px solid #999999 !important;
}

/*
 =====================================
 ┌─┐┌─┐┌─┐┌─┐┬ ┬┌┐┌┌┬┐  ┌─┐┌─┐┌─┐┌─┐
 ├─┤│  │  │ ││ ││││ │   ├─┘├─┤│ ┬├┤
 ┴ ┴└─┘└─┘└─┘└─┘┘└┘ ┴   ┴  ┴ ┴└─┘└─┘
 =====================================
 */
#account_container {
	display: none;
	width: 200px;
	margin: 0 auto;
	clear: both;
}

#account_info_edit {
	display: none;
}

.fc-button, button{	
	background: #333;
	box-shadow: none;
	color: #E6E6E6;
	text-shadow: none;
	height: 28px;
	padding: 0 10px;
	margin: 5px 0;
	font-size: 12px;
}

button {
	border: none;
	border-radius: 2px;
}

.fc-button:hover, button:hover{
	color: white;
	background: #444;
}

.subtask-title{
	max-width: 80%;
}

/*DETAIL EDIT*/
#eventDetail_title, #taskDetail_title, #eventEdit_title_input, #taskEdit_title_input{
	font-weight: bold;
	font-size: 14px;
}

/*Date Time Picker*/
/*.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 40%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 40% 10px 10px; }*/
