/* http://meyerweb.com/eric/tools/css/reset/
 v2.0 | 20110126
 License: none (public domain)
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* ------------------------ END RESET ----------------------- */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */

.container {
	width: 100%;
	padding: 0;
	float: right;
}

.add-update{
	display: none;
	width: 25%;
	position: absolute;
	top: 50;
	right: 10;
	z-index: 1001;
	height: 700px;
	overflow: scroll;
	
}


html {
	background-image: url('/img/retina_wood_@2X.png');
}

body {
	background: none;
	font: 12px Arial, Helvetica, sans-serif;
	color: #333;
	line-height: 1.5em;
}

button {
	background: #222222;
	border: 1px solid #333333;
	border-radius: 2px;
	color: #E6E6E6;
	height: 28px;
	padding: 0 10px;
	margin: 5px;
	font-size: 10px;
}

h1 {
	font-size: 16px;
}

header {
	background: #333333; /* Old browsers */
	background: -moz-linear-gradient(top,  #333333 68%, #1a1a1a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(68%,#333333), color-stop(100%,#1a1a1a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #333333 68%,#1a1a1a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #333333 68%,#1a1a1a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #333333 68%,#1a1a1a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #333333 68%,#1a1a1a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#1a1a1a',GradientType=0 ); /* IE6-9 */
	height: 40px;
	margin-bottom: 20px;
	color: #E6E6E6;
	line-height: 30px;
	text-align: center;
}

footer{
	position: absolute;
	bottom: 0;
}

input[type=text] {
	height: 40px;
	background: rgba(249, 248, 247, 0.5);
	border: 1px solid #b3b3b3;
	padding: 5px;
	width: 100%;
	border-radius: 2px;
}

#my-nav {
	width: 140px;
	float: right;
}

#nav-container {
	height: 100%;
	z-index: 1000;
	background: #222222;
	position: fixed;
	top: 0;
	color: #E6E6E6;
}

/*#nav-placeholder{
	width: 190px;
	display: block;
	background: #00f;
	height: 100%;
}*/

#my-nav a {
	height: 40px;
}

#my-nav li a, #my-nav li span {
	color: #E6E6E6;
	display: block;
}

.my-nav-slide {
	width: 20px;
	background: red;
	height: 100%;
	float: left;
	position: relative;
	top: 0;
	left: 0;
	margin: 0;
}

#my-nav li img{
	float: left;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 10px 0;
}

#my-nav li a{
	float: right;
	display: block;
	width: 130px;
}

#my-nav li{
	line-height: 40px;
	height: 40px;
}


.round-color-rep {
	float: right;
	height: 15px;
	width: 15px;
	border-radius: 8.5px;
	background: rgba(231, 85, 111, 0.7);
	border: 1px solid rgb(231, 85, 111);
	margin-top: 12px;
	box-shadow: inset 0px 0px 5px rgba(0,0,0,0.2);
}

.pill-color-rep {
	border-radius: 10px;
	line-height: 20px;
	font-size: 12px;
	text-align: center;
	float: right;
	height: 20px;
	width: 30px;
	background: rgba(231, 85, 111, 0.7);
	border: 1px solid rgb(231, 85, 111);
	margin-top: 9px;
	box-shadow: inset 0px 0px 5px rgba(0,0,0,0.2);
}

.tasks ul li, .categories ul li, .subtasks li, .completed-subtasks li, .all-day ul li {
	border-radius: 2px;
	margin: 5px 0;
	padding: 0 10px;
}

.tasks ul li, .categories ul li, .subtasks li, .completed-subtasks li {
	border: 1px solid #c6c6c6;
	margin: 5px 0;
	padding: 0 10px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #e6e6e6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#e6e6e6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#e6e6e6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#e6e6e6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */
}

.tasks ul li, .categories ul li, .all-day ul li {
	height: 40px;
	line-height: 40px;
}

.subtasks li, .completed-subtasks li {
	height: 30px;
	line-height: 30px;
}

.completed-tasks li, .completed-subtasks li {
	opacity: 0.6;
}

#tab-container {
	background: #f7f8f9;
	padding: 10px;
	/*box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.3);*/
	line-height: 2em;
}

#tab-container ul li a {
	display: block;
	padding: 0;
	margin: 0;
	width: 50%;
	height: 40px;
	text-align: center;
	line-height: 40px;
	float: left;
}

#tab-container ul:first-child {
	position: relative;
	top: -10px;
}

#tab-container .active a {
	background: #f2efeb;
}

#tab-container ul:first-child {
	margin: 0 0 10px 0;
}

#task-add-update span {
	display: block;
}

#task-add-update textarea, #event-add-update textarea {
	min-width: 100%;
	max-width: 100%;
	border: 1px solid #b2b2b2;
	min-height: 160px;
}

ul {
	margin: 20px 0 50px;
}

.subtasks {
	margin-bottom: 30px;
}

table {
	background: rgba(249, 248, 247, 0.5);
	border-collapse: collapse;
	color: #222;
	font-family: 'PT Sans', sans-serif;
	font-size: 13px;
	width: 100%;
	min-height: 100%;
	max-height: 100%;
	margin-top: -20px;
}

td {
	border: 1px solid #ccc;
	color: #444;
	line-height: 22px;
	text-align: center;
	width: 14.28571428571429%;
}

tr:first-child td {
	color: #222;
	font-weight: 700;
}

.week {
	min-height: 150px;
}

.edit {
	float: right;
}

.events {
	background: rgba(249, 248, 247, 0.5);
	min-height: 100%;
}

.all-day ul li {
	background: rgba(231, 85, 111, 0.7);
	border: 1px solid rgb(231, 85, 111);
}

#login-form input[type=text], #sign-up-form input[type=text]{ 
	width: 100px;
}


.category-id{
	display: none;
}

#parent-category{
	display: none;
}
