/* http://meyerweb.com/eric/tools/css/reset/
 v2.0 | 20110126
 License: none (public domain)
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* ------------------------ END RESET ----------------------- */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */

.container {
	width: 100%;
	padding: 0;
	float: right;
	padding-left: 40px
}

/*.addPanel-container {
	display: none;
	width: 25%;
	position: absolute;
	top: 50;
	right: 10;
	z-index: 1001;
	height: 700px;
	overflow: scroll;
}*/

html {
	background-image: url('/img/retina_wood_@2X.png');
}

body {
	background: none;
	font: 12px Arial, Helvetica, sans-serif;
	color: #333;
	line-height: 1.5em;
	position: absolute;
	overflow: scroll;
}

button {
	background: #222222;
	border: 1px solid #333333;
	border-radius: 2px;
	color: #E6E6E6;
	height: 28px;
	padding: 0 10px;
	margin: 5px;
	font-size: 10px;
}

h1 {
	font-size: 16px;
}

header, .fc-header {
	background: #222;
	height: 40px;
	/*margin-bottom: 20px;*/
	color: #E6E6E6;
	line-height: 30px;
	text-align: center;
}

footer {
	position: absolute;
	bottom: 0;
}

input[type=text], input[type=tel], input[type=password] {
	height: 30px;
	background: rgba(249, 248, 247, 0.5);
	border: 1px solid #b3b3b3;
	padding: 5px;
	border-radius: 2px;
}

input[type=text] {
	width: 100%;
}

nav {
	width: 220px;
	height: 100%;
	top: 0;
	float: right;
	position: fixed;
	left: -180px;
	color: #E6E6E6;
	background: #222222;
	z-index: 1000;
}

.eventDetail-container, .addPanel-container {
	width: 300px;
	height: 100%;
	top: 0;
	position: fixed;
	right: -300px;
	background: #fff;
	/*z-index: 1000;*/
}

nav h1 {
	margin-top: 10px;
	margin-left: 10px;
	font-size: 12px;
}

nav a {
	height: 30px;
	line-height: 20px;
	margin: 0 10px 5px 10px;
	width: 200px;
	float: left;
	display: block;
}

nav li a, #my-nav li span {
	color: #E6E6E6;
	display: block;
}

nav li img {
	float: right;
	display: inline-block;
	width: 20px;
	height: 20px;
}

.round-color-rep {
	float: right;
	height: 15px;
	width: 15px;
	border-radius: 10px;
	background: rgba(231, 85, 111, 0.7);
	margin-top: 8px;
}

.pill-color-rep {
	border-radius: 10px;
	line-height: 20px;
	font-size: 12px;
	text-align: center;
	float: right;
	height: 20px;
	width: 30px;
	margin-top: 5px;
}

.task-tasks ul li, .task-categories ul li, .subtasks li, .completed-subtasks li, .day-events-allDay ul li {
	border-radius: 2px;
	margin: 5px 0;
	padding: 0 10px;
}

.task-tasks ul li, .task-categories ul li, .subtasks li, .completed-subtasks li {
	border: 1px solid #F5F5F5;
	margin: 5px 0;
	background: #f7f8f9; /* Old browsers */
}

.task-tasks ul li, .task-categories ul li, .day-events-allDay ul li {
	height: 30px;
	line-height: 30px;
}

.subtasks li, .completed-subtasks li {
	height: 20px;
	line-height: 20px;
}

.day-completedTasks li, .completed-subtasks li {
	opacity: 0.6;
}

#tab-container {
	background: #f7f8f9;
	padding: 10px;
	line-height: 2em;
}

#tab-container ul li a {
	display: block;
	padding: 0;
	margin: 0;
	width: 50%;
	height: 40px;
	text-align: center;
	line-height: 40px;
	float: left;
}

#tab-container ul:first-child {
	position: relative;
	top: -10px;
}

#tab-container .active a {
	background: #f2efeb;
}

#tab-container ul:first-child {
	margin: 0 0 10px 0;
}

#addPanel_addTask span {
	display: block;
}

#addPanel_addTask textarea, #addPanel_addEvent textarea {
	min-width: 100%;
	max-width: 100%;
	border: 1px solid #b2b2b2;
	min-height: 160px;
}

ul {
	margin: 20px 0 50px;
}

.subtasks {
	margin-bottom: 30px;
}

.edit {
	float: right;
}

.day-events {
	background: rgba(249, 248, 247, 0.3);
	min-height: 100%;
}

.day-events-allDay ul li {
	background: rgba(231, 85, 111, 0.7);
	border: 1px solid rgb(231, 85, 111);
}

#landing_login_form input[type=text], #landing_signUp_form input[type=text] {
	width: 100px;
}

.category-id, .core-hidden {
	display: none;
}

.category-delete, .task-item-delete {
	height: 10px;
	float: right;
	margin: 5px;
}

#parent-category {
	display: none;
}

/*DETAIL DISPLAY*/
.taskDetail-container {
	background: white;
	padding: 10px;
	/*height: 100%;*/

}

/*
 ==================================================================
 ┌─┐┬ ┬┬  ┬    ┌─┐┌─┐┬  ┌─┐┌┐┌┌┬┐┌─┐┬─┐  ┌─┐┬  ┬┌─┐┬─┐┬─┐┬┌┬┐┌─┐┌─┐
 ├┤ │ ││  │    │  ├─┤│  ├┤ │││ ││├─┤├┬┘  │ │└┐┌┘├┤ ├┬┘├┬┘│ ││├┤ └─┐
 └  └─┘┴─┘┴─┘  └─┘┴ ┴┴─┘└─┘┘└┘─┴┘┴ ┴┴└─  └─┘ └┘ └─┘┴└─┴└─┴─┴┘└─┘└─┘
 ==================================================================
 */

.fc-event {
	height: 30px;
}

thead {
	background: #222;
}

.fc-day-header {
	border-color: #333;
	color: #fff;
}

.fc-view-agendaDay {
	width: 100%;
}

#landing_login_form, #landing_signUp_form {
	float: right;
}

header h1 {
	float: left;
}

#landing_signUp_form {
	background: #BCE8F1;
	height: 300px;
	margin: 10px;
	padding: 10px;
	width: 300px;
}

#landing_signUp_form input[type=text], #landing_signUp_form input[type=tel], #landing_signUp_form input[type=password] {
	background: white;
	margin-bottom: 10px;
	display: block;
	width: 100%;
}

.eventEdit-container {
	position: absolute;
	top: 80px;
	left: 200px;
	z-index: 10000;
	background: white;
}

/*
 =====================================
 ┌─┐┌─┐┌─┐┌─┐┬ ┬┌┐┌┌┬┐  ┌─┐┌─┐┌─┐┌─┐
 ├─┤│  │  │ ││ ││││ │   ├─┘├─┤│ ┬├┤
 ┴ ┴└─┘└─┘└─┘└─┘┘└┘ ┴   ┴  ┴ ┴└─┘└─┘
 =====================================
 */

#account_container {
	background: white;
	margin: 20px auto;
	width: 300px;
	height: 300px;
}

#account_info_edit {
	display: none;
}
