<div id="account_container">
	<div id="account_info_display">
		<span>Email Address </span><br /><span class="account-display-email"><%=user.email%></span>
		<br />
		<span>Phone Number </span><br /><span class="account-display-phone"><%=user.phoneNumber%></span><br />
		<span>Password: </span><br /><span>Click the 'Edit' button to manage your password.</span>
		<br />
		<button id="account_edit_button">
			Edit
		</button>
	</div>
	<div id="account_info_edit">
		<span>Email Address </span><br />
		<input type="email" class="account-update-email" value="<%=user.email%>"/><br />
		<span>Phone Number </span><br />
		<input type="tel" class="account-update-phone" value="<%=user.phoneNumber%>"/><br />
		<button id="account_update_changePass_button">Change Password</button><br />
		<div id="account_update_changePass" class="core-hidden">
			<span>New Password </span><br />
			<input type="password" class="account-update-newPass"/><br />
			<span>Confirm New Password </span><br />
			<input type="password" class="account-update-confirmNewPass"/><br />
		</div>
		<button id="account_update_button">
			Save
		</button>
	</div>
</div>