<html>

	<head>

		<title>Methodize.Me</title>

		<meta charset="utf-8">

		<meta name="viewport" content="initial-scale=1.0, width=device-width" />

		<!-- Bower CSS -->
		<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
		<!-- <link rel="stylesheet" href="/bower_components/datetimepicker/jquery.datetimepicker.css" /> -->
		<link rel="stylesheet" href="/bower_components/jquery-ui/themes/vader/jquery-ui.css" />
		<link rel="stylesheet" href="/bower_components/jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.css" />
		<link rel="stylesheet" href="/bower_components/fullcalendar/fullcalendar.css" />

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="/css/vendor/fullcalendar/fullcalendar.css"/>
		<link rel="stylesheet" href="/css/vendor/fullcalendar/fullcalendar.print.css"/>
		
		<!-- Core CSS -->
		<link rel="stylesheet" href="/css/core/main.css" />

	</head>

	<body class="container">
