<html>

	<head>
		<title>Methodize.Me</title>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, width=device-width" />
		<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="/bower_components/datetimepicker/jquery.datetimepicker.css" />
		<link rel="stylesheet" href="/bower_components/fullcalendar/fullcalendar.css" />
		<link rel="stylesheet" href="/css/vendor/fullcalendar/fullcalendar.css"/>
		<link rel="stylesheet" href="/css/vendor/fullcalendar/fullcalendar.print.css"/>
		<link rel="stylesheet" href="/css/core/main.css" />
	</head>

	<body class="container">
