<head>
	<title>Methodize.Me</title>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0, width=device-width" />
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/core/main.css" />
	<!-- <script src="/js/jquery-1.10.2.min.js"></script> -->
</head>