<div id="nav-container">
	<div class="my-nav-slide"></div>
	<nav id="my-nav">
		<ul>
			<li>
				<span>Methodize.Me</ span>
			</li>
			<li>
				<a href="#"><img src="/img/fake-prof-pic.png"/> Susan Brown</a>
			</li>
			<li>
				<a href="#"><img src="/img/icon/icon_17885.png" />Calendar</a>
			</li>
			<li>
				<a href="#"><img src="/img/icon/icon_38699.png" />Tasks</a>
			</li>
			<li>
				<a href="#"><img src="/img/icon/icon_9428.png" />Profile</a>
			</li>
			<li>
				<a href="#">Log Out</a>
			</li>
		</ul>
	</nav>
</div>
