<div id="nav_container">
	<nav>
		<h1>Methodize.Me</h1>
		<ul>
			<li>
				<a href="#"><img src="/img/fake-prof-pic.png"/> Susan Brown</a>
			</li>
			<li>
				<a href="/calendar"><img src="/img/icon/icon_17885.png" />Calendar</a>
			</li>
			<li>
				<a href="/task"><img src="/img/icon/icon_38699.png" />Tasks</a>
			</li>
			<li class="nav-account-link">
				<a><img src="/img/icon/icon_9428.png" />Account</a>
			</li>
		</ul>
	</nav>
	<% include account.ejs %>
	<footer>
		<a href="/action/signout">Log Out</a>
	</footer>
</div>
