<nav>
	<div class="slidebitch"></div>
	<div>
		<span>Methodize.Me</span>
		<img src="/img/fake-prof-pic.png"/>
		<a href="#">Susan Brown</a>
		<a href="#">Calendar</a>
		<a href="#">Tasks</a>
		<a href="#">Profile</a>
		<a href="#">Log Out</a>
	</div>
</nav>