<div class="task-add-update">
	<span>Title</span>
	<span>Due Date</span>
	<span>Reminde Me</span>
	<span>Category</span>
	<span>Priority</span>
	<span>Sub Tasks</span>
	<ul class="subtasks">
		<li>
			<input type="checkbox"/>
			<span>Task Title</span>
		</li>
		<li>
			<input type="checkbox"/>
			<span>Task Title</span>
		</li>
	</ul>
	<ul class="completed-subtasks">
		<li>
			<input type="checkbox"/>
			<span>Task Title</span>
		</li>
	</ul>
	<span>Notes</span>
	<textarea></textarea>
</div>




<div class="event-add-update">
	<span>Title</span>
	<span>Start Date and Time</span>
	<span>End Date and Time</span>
	<input type="checkbox" />
	<span>All Day</span>
	<span>Reminde Me</span>
	<span>Category</span>
	<span>Priority</span>
	<span>Sub Tasks</span>
	<ul class="subtasks">
		<li>
			<input type="checkbox"/>
			<span>Task Title</span>
		</li>
		<li>
			<input type="checkbox"/>
			<span>Task Title</span>
		</li>
	</ul>
	<ul class="completed-subtasks">
		<li>
			<input type="checkbox"/>
			<span>Task Title</span>
		</li>
	</ul>
	<span>Notes</span>
	<textarea></textarea>
</div>